<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="{% static 'profile.jpg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>

<body>
  <div class="container">
    <div class="sidebar">
      
      <nav>
        <ul>
          <li><a href="{% url 'starting' %}">Home</a></li>
          <li><a href="{% url 'project' %}">Project</a></li>
          <li><a href="{% url 'contact' %}">Contact Me</a></li>
          <li><a href="{% static 'pdf/Sumit shrestha_cv.pdf' %}">CV</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      
      
        {% block body_content %}
        {% endblock %}
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>

