{% extends 'layouts/start.html' %}

{% block title %}
Portfolio | Sumit Shrestha
{% endblock %}
{% load static %}

{% block body_content %}
  <div class="infoContainer">
    <div class="devInfo">
      <div class="hello">Hello I am</div>
      <div class="name">Sumit Shrestha</div>
      <div class="about">Web Designer & Developer(HTML, CSS, JS & Django)</div>
      <div class="buttons">
        <a href="{% static 'pdf/Sumit shrestha_cv.pdf' %}"><button>Download CV</button></a>
        <a href="{% url 'contact' %}"><button>Contact Me</button></a>
      </div>
    </div>
    <div class="devPic"><img src="{% static 'devimg.png' %}" alt="welcome image"></div>
  </div>
{% endblock %}